@charset "UTF-8";
/* 通用样式 */
* {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

/* 基础样式 */
body {
  background-color: #f8f8f8;
  font-family: "PingFangSC-Light"; }

.container {
  margin-left: 5%;
  margin-right: 5%; }

.navbar {
  background-color: #fff; }
  .navbar .container {
    transition: all .5s; }
  .navbar .content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden; }
  .navbar .menu-icon {
    align-self: center;
    transition: all .5s; }
    .navbar .menu-icon i {
      cursor: pointer; }
  .navbar .header {
    align-self: center;
    transition: all .5s; }
  .navbar .header > img {
    box-sizing: content-box;
    width: 98px;
    padding: 8px; }
  .navbar .menu {
    margin-left: 56px;
    transition: all .4s; }
    .navbar .menu .item {
      display: inline-block;
      margin-left: 24px;
      margin-right: 24px;
      padding-bottom: 32px;
      padding-top: 24px;
      font-size: 18px;
      color: #000; }
    .navbar .menu .active {
      border-bottom: 2px solid #000; }
  .navbar .search-icon {
    flex-grow: 1;
    text-align: right;
    align-self: center;
    cursor: pointer; }
  .navbar .search-form {
    position: absolute;
    transform: translateY(-120px);
    transition: all .5s;
    opacity: 0; }
  .navbar .search-form > input {
    width: 300px;
    border: 1px solid rgba(240, 240, 240, 0);
    padding: 5px 10px;
    background-color: inherit; }
    .navbar .search-form > input:focus {
      border: 1px solid #f0f0f0;
      box-shadow: 0.05em 0.05em 0.1em 0.1em rgba(97, 93, 93, 0.1);
      outline: none; }
  .navbar .searching ~ .search-form {
    transform: translateY(-55px);
    opacity: 1; }
  .navbar .searching .header, .navbar .searching .menu, .navbar .searching .menu-icon {
    transform: translateY(80px);
    opacity: 0; }

/* 屏幕尺寸大于767px */
@media only screen and (min-width: 767px) {
  .navbar .menu-icon {
    display: none; } }
/* 屏幕尺寸小于767px */
@media only screen and (max-width: 767px) {
  .navbar .header > img {
    width: 56px; }
  .navbar .content {
    justify-content: space-between; }
  .navbar .content .menu {
    display: none; }
  .navbar .search-icon {
    flex-grow: 0; }
  .navbar .searching ~ .search-form {
    transform: translateY(-40px);
    opacity: 1; } }
.sidebar {
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: 2;
  box-shadow: 0.05em 0.05em 0.1em 0.1em rgba(97, 93, 93, 0.1);
  background-color: #fff;
  display: none; }
  .sidebar .menu {
    display: flex;
    flex-direction: column;
    text-align: right; }
    .sidebar .menu .item {
      padding: 13px;
      padding-right: 24px;
      font-size: 18px;
      color: #000; }
      .sidebar .menu .item.active {
        background: #f8f8f8; }
      .sidebar .menu .item:hover {
        background-color: #fbfbfb; }
  .sidebar .close-icon {
    box-sizing: border-box;
    height: 50px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center; }

.navbarMove {
  position: relative;
  z-index: 1; }
  .navbarMove .container {
    transform: translateX(30%); }

/* 屏幕尺寸大于767px */
@media only screen and (min-width: 767px) {
  .sidebar {
    display: none; } }
.banner {
  background-color: #f0f0f0;
  /* 屏幕尺寸大于767px */
  /* 屏幕尺寸小于767px */ }
  .banner .item {
    position: relative;
    overflow: hidden;
    /* 响应式背景图片、视频 */ }
    .banner .item .content {
      display: flex;
      align-items: center;
      height: 80vh;
      max-height: 750px;
      min-height: 350px; }
    .banner .item .container {
      z-index: 1; }
    .banner .item .sub-header {
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 8px; }
    .banner .item .header {
      font-size: 48px;
      margin-bottom: 16px; }
    .banner .item .description {
      font-size: 18px;
      margin-bottom: 32px;
      font-weight: 600; }
    .banner .item .action {
      width: 120px;
      height: 40px;
      text-align: center;
      font-size: 18px;
      background-color: #000; }
      .banner .item .action a {
        color: #fff;
        line-height: 40px; }
    .banner .item .image, .banner .item .video {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 80vh;
      object-fit: cover;
      max-height: 750px;
      min-height: 350px; }
  .banner .white {
    color: #fff; }
  .banner .big .header {
    font-size: 56px;
    letter-spacing: 8px; }
  .banner .big .sub-header {
    font-size: 24px;
    letter-spacing: 16px;
    font-weight: 100; }
  .banner .bottom .content {
    align-items: flex-end; }
    .banner .bottom .content .header {
      padding-bottom: 10%; }
  @media only screen and (min-width: 767px) {
    .banner .hidden {
      display: none; } }
  @media only screen and (max-width: 767px) {
    .banner .item {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      text-align: center; }
      .banner .item .image, .banner .item .video {
        position: inherit;
        height: auto; }
      .banner .item .content {
        height: auto;
        color: #000;
        align-items: center; }
        .banner .item .content .container {
          margin: 0; }
        .banner .item .content .header {
          font-size: 36px;
          letter-spacing: 4px; }
        .banner .item .content .sub-header {
          font-size: 16px;
          letter-spacing: 8px; }
        .banner .item .content .action {
          margin: 0 auto; } }

.slide {
  width: 100%;
  overflow: hidden;
  position: relative; }
  .slide .banner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 500%;
    transition: all 1s;
    left: -100%; }
    .slide .banner .item {
      width: 20%; }
  .slide #prev-button, .slide #next-button {
    position: absolute;
    z-index: 3;
    bottom: 3%;
    padding: 0;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    border-color: transparent;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer; }
    .slide #prev-button .material-icons, .slide #next-button .material-icons {
      line-height: 28px; }
  .slide #prev-button:hover, .slide #next-button:hover {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.2); }
  .slide #prev-button {
    left: 3%; }
  .slide #next-button {
    right: 3%; }
  @media only screen and (max-width: 767px) {
    .slide .dots {
      position: absolute;
      bottom: 4.5%;
      z-index: 2;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      .slide .dots span {
        display: inline-block;
        height: 10px;
        width: 10px;
        margin-right: 1%;
        border-radius: 50%;
        background-color: #ccc;
        cursor: pointer; }
      .slide .dots .current-dot {
        background-color: #000; } }

.promo {
  margin-bottom: 3%;
  /* 屏幕尺寸小于1200px */
  /* 屏幕尺寸小于767px */ }
  .promo .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .promo .column {
    width: 31.33%;
    margin-right: 3%;
    margin-top: 3%;
    background-color: #fff;
    cursor: pointer;
    transition: box-shadow .5s; }
    .promo .column:hover {
      box-shadow: 0 32px 48px rgba(0, 0, 0, 0.1); }
    .promo .column:nth-child(3n) {
      margin-right: 0; }
  .promo a {
    color: #000; }
  .promo img {
    width: 100%; }
  .promo .content {
    padding: 40px;
    padding-bottom: 56px; }
    .promo .content .header {
      font-size: 24px;
      margin-bottom: 8px; }
    .promo .content .sub-header {
      font-size: 14px;
      margin-bottom: 24px;
      font-weight: 600;
      letter-spacing: 3px;
      text-transform: uppercase; }
    .promo .content .sub-header::after {
      content: " ";
      display: block;
      width: 40px;
      padding-bottom: 16px;
      border-bottom: 2px solid #000; }
    .promo .content .description {
      font-size: 16px;
      margin-bottom: 8px; }
  @media only screen and (max-width: 1200px) {
    .promo .column {
      width: 45%; }
      .promo .column:nth-child(3n) {
        margin-right: 3%; }
      .promo .column:nth-child(2n) {
        margin-right: 0; } }
  @media only screen and (max-width: 767px) {
    .promo .column {
      width: 100%; }
      .promo .column:nth-child(n) {
        margin-right: 0; } }

.story {
  position: relative; }
  .story::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50; }
  .story .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .story .content {
    width: 50.5%;
    box-sizing: border-box;
    padding: 14% 40px 14% 8%;
    z-index: 1;
    background-color: rgba(237, 237, 237, 0.85);
    border-right: 8px solid #f8f8f8; }
  .story .sub-header {
    font-size: 14px;
    margin-bottom: 8px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .story .header {
    font-size: 36px;
    margin-bottom: 40px; }
  .story .description {
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.8; }
  .story .action {
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #000; }
    .story .action a {
      color: #000;
      line-height: 40px; }
  .story img {
    width: 100%; }
  @media only screen and (max-width: 767px) {
    .story .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0;
      padding-top: 20%; }
      .story .content .description, .story .content .action {
        display: none; }
      .story .content .header {
        font-size: 24px; }
      .story .content .header::after, .story .content .sub-header::after {
        display: block;
        content: "";
        width: 100px;
        border-bottom: 1px solid #000;
        padding-bottom: 8px; } }

.detail {
  width: 100%;
  background-color: #fff; }
  .detail .text, .detail .image {
    width: 300%;
    display: flex; }
  .detail .item {
    width: 33.3333%; }
  .detail .image {
    position: relative; }
  .detail .text > .item {
    padding: 3%;
    text-align: center; }
  .detail .header {
    font-size: 36px;
    margin-bottom: 32px; }
  .detail .sub-header {
    font-size: 14px;
    margin-bottom: 8px;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.5); }
  .detail .description {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.5); }
  .detail img {
    width: 100%; }
  @media only screen and (max-width: 767px) {
    .detail .header {
      font-size: 24px; }
    .detail .description {
      width: 85%;
      font-size: 16px; } }

#experience .text {
  width: 400%; }
  #experience .text .item {
    width: 25%; }

.feature {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8%;
  margin-left: 15%;
  margin-right: 15%; }
  .feature .column {
    width: 45%;
    margin-bottom: 8%; }
    .feature .column:nth-child(odd) {
      text-align: right; }
  .feature .header {
    font-size: 24px;
    margin-bottom: 24px; }
  .feature .description {
    font-size: 18px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.5); }

@media only screen and (max-width: 767px) {
  .feature {
    flex-direction: column;
    margin: 8%;
    margin-bottom: 0; }
    .feature .column {
      width: 100%; }
      .feature .column:nth-child(n) {
        text-align: left; }
    .feature .description {
      font-size: 16px; } }
.model {
  background-color: #fff; }
  .model .parameter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10% 0; }
    .model .parameter .column {
      margin-right: 10%; }
      .model .parameter .column:last-child {
        margin-right: 0; }
    .model .parameter .label {
      font-size: 18px;
      margin-bottom: 16px; }
    .model .parameter .value {
      font-size: 36px;
      font-weight: 100;
      color: rgba(0, 0, 0, 0.75); }
      .model .parameter .value span {
        font-size: 18px; }
  .model .type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%; }
    .model .type .header {
      font-size: 20px;
      margin-bottom: 32px;
      text-transform: uppercase; }
    .model .type .description {
      margin-bottom: 8px;
      color: rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 767px) {
    .model .parameter .label {
      font-size: 16px; }
    .model .parameter .value {
      font-size: 24px; }
    .model .type .header {
      font-size: 10px; }
    .model .type .description {
      font-size: 5px; } }

footer {
  padding-top: 6%;
  padding-bottom: 8%;
  background-color: #f8f8f8; }
  footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  footer .column {
    text-align: right; }
  footer .header {
    margin-bottom: 24px;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  footer .list .item {
    padding-right: 3px;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer; }
  @media only screen and (max-width: 767px) {
    footer .container {
      display: flex;
      flex-direction: column; }
    footer .column {
      text-align: left; }
    footer .list {
      padding-bottom: 24px; }
    footer .line {
      border-bottom: 1px solid #ededed;
      margin-bottom: 24px; } }

.accordion .header {
  cursor: pointer; }
.accordion .list {
  display: none; }
  .accordion .list.active {
    display: block; }

/*# sourceMappingURL=main.css.map */
