.detail {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;

  .text {
    position: relative;
    width: 500%;
    display: flex;
    transition: all 1s;
    left: -100%;

    .item {
      width: 20%;
      padding: 1% 3%;
      text-align: center;
    }
  }

  .image {
    position: relative;
    width: 350%;
    display: flex;
    transition: all 1s;
    left: -50%;

    .item {
      width: 14.2857%;
    }
  }

  .header {
    font-size: 36px;
    margin-bottom: 32px;
  }

  .sub-header {
    font-size: 14px;
    margin-bottom: 8px;
    letter-spacing: 3px;
    color: rgba(#000, 0.5);
  }

  .description {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5;
    color: rgba(#000, .5);
  }

  img {
    width: 100%;
  }

  #prev-button, #next-button{
    position: absolute;
    z-index: 3;
    bottom: 25%;
    padding: 0;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    border-color: transparent;
    outline: none;
    background-color: rgba(#fff, 0.4);
    color: rgba(#000, 0.4);
    cursor: pointer;
    .material-icons {
      line-height: 28px;
    }
  }

  #prev-button:hover, #next-button:hover {
    outline: none;
    background-color: rgba(#fff, 0.2);
    color: rgba(#000, 0.2);
  }

  #prev-button {
    left: 2%;
  }

  #next-button {
    right: 2%;
  }

  @media only screen and (max-width: 767px) {
    .header {
      font-size: 24px;
    }

    .description {
      width: 85%;
      font-size: 16px;
    }
  }
}
