  .navbar {
  background-color: $navbar-background;

  &.sub {
    border-bottom: 1px solid #ececec;
    width: 100%;
    background-color: #f8f8f8;

    &.fixed {
      position: fixed;
      top: 0;
      z-index: 100;
    }

    .container {
      position: relative;
    }

    .header {
      position: absolute;
      top: 0;
      left: 0;
      text-transform: uppercase;
      color: rgba(#000, .1);
      letter-spacing: 6px;
      margin: 20px 0;

      &:hover {
        color: rgba(#000, .85);
        cursor: pointer;
      }
    }

    .menu {
      text-align: right;

      .item {
        font-size: 16px;
        color: rgba(#000, .65);

        &.active {
          color: rgba(#000, .85);
        }
      }
    }
  }

  .container {
    transition: all .5s;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
  }

  .menu-icon {
    align-self: center;
    transition: all .5s;
    i {
      cursor: pointer;
    }
  }

  .header {
    align-self: center;
    transition: all .5s;
  }

  .header > img {
    box-sizing: content-box;
    width: 98px;
    padding: 8px;
  }

  .menu {
    margin-left: 56px;
    transition: all .4s;
    .item {
      display: inline-block;
      margin-left: 24px;
      margin-right: 24px;
      padding-bottom: 32px;
      padding-top: 24px;
      font-size: 18px;
      color: $font-color;
    }
    .active {
      border-bottom: 2px solid #000;
    }
  }

  .search-icon {
    flex-grow: 1;
    text-align: right;
    align-self: center;
    cursor: pointer;
  }

  .search-form {
    position: absolute;
    transform: translateY(-120px);
    transition: all .5s;
    opacity: 0;
  }

  .search-form > input {
    width: 300px;
    border: 1px solid rgba(#f0f0f0, 0);
    padding: 5px 10px;
    background-color: inherit;
    &:focus {
      border: 1px solid #f0f0f0;
      box-shadow: .05em .05em .1em .1em rgba(97, 93, 93, 0.1);
      outline: none;
    }
  }

  .searching ~ .search-form {
    transform: translateY(-55px);
    opacity: 1;
  }

  .searching {
    .header, .menu, .menu-icon {
      transform: translateY(80px);
      opacity: 0;
    }
  }
}

/* 屏幕尺寸大于767px */
@media only screen and (min-width: 767px) {
  .navbar {
    .menu-icon {
      display: none;
    }
  }
}

/* 屏幕尺寸小于767px */
@media only screen and (max-width:767px) {
  .navbar {
    .header > img {
      width: 56px;
    }
    .content {
      justify-content: space-between;
    }
    .content .menu {
      display: none;
    }
    .search-icon {
      flex-grow: 0;
    }
    .searching ~ .search-form {
      transform: translateY(-40px);
      opacity: 1;
    }
  }
}
